{{ define "index" }}

  {{ template "header" .Header }}

  Hello {{ .Name }}!
  <br><br>

  <hr>
  <div id="chat">
    <h2>Chat</h2>
  </div>

  <hr><br>

  <input type="text" id="message-input" autofocus />
  <button id="message-btn">Send</button>

  <script>
    var socket = new WebSocket("ws://localhost:8080/ws");

    var btn = document.getElementById("message-btn");
    var input = document.getElementById("message-input");

    var clickHandler = function(event) {
      var input = document.getElementById("message-input");
      socket.send(input.value);
      input.value = "";
    }

    btn.onclick = clickHandler;
    input.addEventListener("keypress", function(e) {
      if (e.which == 13 || e.keyCode == 13) {
        clickHandler(e);
      }
    })

    socket.onopen = function(event) {
      socket.send("Client joined");
    }

    socket.onbeforeunload = function(event) {
      socket.close();
    }

    socket.onmessage = function(event) {
      var box = document.createElement("div");
      box.innerHTML = event.data;
      document.getElementById("chat").appendChild(box);
    }
  </script>

  {{ template "footer" }}

{{ end }}
